<p>Woo! You've been invited to taste some coffees with <%= host_name %>!</p>
<p>The details:</p>
<ul>
  <li>Time: <%= cupping.cup_date.strftime('%A, %b %d') %></li>
  <li>Place: <%= cupping.location %></li>
</ul>
