<%= render partial: 'cupping_invitation',
           locals: { host_name: @host_name, cupping: @cupping }%>
<p>
  Whilst tasting said coffees, we'll be using the <strong>CoffeeGrader</strong>
  app for all our scoring/rating needs...what? don't have it? No problem!  It's
  super easy to <a href="<%= @url %>">sign up</a>, and only takes a second.  Plus,
  you'll be able to let <%= @host_name %> know you're down to cup.
</p>
